@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #c5c9d9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Plus Jakarta Sans, Arial, Helvetica, sans-serif;
  padding: 1rem;
}
